<template>
  <div id="app">
    <section id="app" class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Digital Passport
        </h1>
        <h2 class="subtitle">
          Umka Hackathon
        </h2>
      </div>
    </div>
  </section>
  <nav class="level">
    <p class="level-item has-text-centered">
      <a v-if="byTag" class="link is-info" @click="byTag = !byTag">Find by name</a>
      <a v-else class="link is-info" @click="byTag = !byTag">Find by tag</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" @click="updateUserData">Update account</a>
    </p>
    <p class="level-item has-text-centered">
        <b>KARMA TEAM</b>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" @click="registerUser">Register</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info" @click="login">Log In</a>
    </p>
  </nav>
  <div class="container">
    <b-field horizontal label="Get account data:">
      <b-input v-model="name" expanded></b-input>
      <p class="control">
        <button class="button is-primary" @click="byTag ? getuser() : findByTag()" :disabled="disabled" expanded>
            {{ byTag ? 'Find by tag' : 'Find by name' }}
        </button>
      </p>
    </b-field>
    <b-table :data="userdata" v-if="!notification">
      <template slot-scope="props">
        <b-table-column label="ID" >
            {{ props.row.account_name ? props.row.account_name : name }}
        </b-table-column>
        <b-table-column label="First Name" >
            {{ props.row.first_name }}
        </b-table-column>
        <b-table-column label="Last Name" >
            {{ props.row.last_name }}
        </b-table-column>
        <b-table-column label="Birth Year" >
            {{ props.row.birth_year }}
        </b-table-column>
        <b-table-column>
          <b-taginput v-if="tags.length !=0"
              v-model="tags"
              ellipsis
              icon="label"
              type="is-info"
              disabled
              placeholder="Add a tag"
              width="40">
          </b-taginput>
        </b-table-column>
      </template>
    </b-table>
    <b-notification :active.sync="notification" type="is-danger">
        Don't found EOS account
    </b-notification>
  </div>
  </div>
</template>

<script>
import Eos from "eosjs"

export default {
  data() {
    return {
      name: "",
      disabled: true,
      contract: null,
      account: null,
      eos: null,
      userdata: [],
      notification: false,
      tags: [],
      findTag: "",
      byTag: false,
      records: {
        "0": "blockchain",
        "1": "frontend",
        "2": "backend",
        "3": "python",
        "4": "javascript"
      },
      contractName: "passport3"
    }
  },
  name: 'app',
  methods: {
    async start() {
      const network = {
          blockchain: 'eos',
          host: '192.168.2.45',
          port: 8888,
          protocol: 'http',
          chainId: 'cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f'
      };
      this.eos = scatter.eos( network, Eos, {});

      let users = await this.eos.getTableRows({
          code: this.contractName,
          scope: this.contractName,
          table:'user',
          json: true,
          limit: 10
      })

      users.rows.forEach(user => this.pushUserData(user))

      this.scatter.getIdentity({
          accounts:[network]
      }).then(identity => {
          console.log(identity);
          this.account = identity.accounts[0]

          this.eos.contract(this.contractName).then(async contract => {
            console.log(contract)
            this.contract = contract
            this.disabled = false
          })

      }).catch(error => {
          //...
      });
    },

    pushUserData(json) {
      this.userdata.push(json)
    },

    async getuser() {
      try {
        let result = await this.contract.getuser(this.name, {
          authorization: `${this.account.name}@${this.account.authority}`,
          broadcast: true,
          sign: true
        })

        let inTable = JSON.parse(result.processed.action_traces[0].console)
        console.log(inTable)
        //this.name = inTable
        this.notification = false

        //this.userdata.push({name: "EOS account", value: this.name})
        this.userdata = []
        this.userdata.push(inTable)


        result = await this.contract.getrecbyuser(this.name, {
          authorization: `${this.account.name}@${this.account.authority}`,
          broadcast: true,
          sign: true
        })

        let skills = JSON.parse(result.processed.action_traces[0].console)
        skills = skills.map(rec => {
          if (rec.tag)
            return `${this.getSkillByTag(rec.tag)}:${rec.value}`
        }).filter(el => el)

        this.tags = skills
      } catch(err) {
        console.error(err)
        this.notification = true
      }

    },

    getSkillByTag(id) {
      return this.records[id]
    },

    getTagBySkill(skill) {
      return Object.keys(this.records).find(key => this.records[key] == skill)
    },

    async login() {
      console.log("login",this.contract)

      let result = await this.contract.getuser(this.name, {
        authorization: `${this.account.name}@${this.account.authority}`,
        broadcast: true,
        sign: true
      })

      let inTable = JSON.parse(result.processed.action_traces[0].console)
    },

    async registerUser() {
      console.log("registerUser")
      return

      let result = await this.contract.adduser(
        this.name,
        firstName,
        lastName,
        birthYear,
        {
          authorization: `${this.account.name}@${this.account.authority}`,
          broadcast: true,
          sign: true
        }
      )

      let inTable = JSON.parse(result.processed.action_traces[0].console)
    },

    async updateUserData() {
      console.log("updateUserData")
      return

      let result = await this.contract.upduser(
        this.name,
        firstName,
        lastName,
        birthYear,
        {
          authorization: `${this.account.name}@${this.account.authority}`,
          broadcast: true,
          sign: true
        }
      )

      let inTable = JSON.parse(result.processed.action_traces[0].console)
    },

    async findByTag() {
      console.log("findByTag")
      return

      let result = await this.contract.getrecbytag(
        this.getTagBySkill(this.name),
        {
          authorization: `${this.account.name}@${this.account.authority}`,
          broadcast: true,
          sign: true
        }
      )

      let inTable = JSON.parse(result.processed.action_traces[0].console)
    }
  },

  created() {
    this.subscribe(this.start.bind(this))
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

nav {
  padding: 20px;
  border: 1px solid #533cd3;
}
</style>
